html,
body {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}

a {
  color: #424242;
  -o-transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:focus {
  color: #000;
}

h1,
h2,
h3,
p {
  font-family: 'Sniglet', cursive;
  text-align: center;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

footer {
  background-image: url(moodlyLanding.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  width: 100%;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .container {
  width: 100%;
}

.form-group {
  text-align: center;
  width: 95%;
}

.form-control {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: none;
  box-shadow: none;
}

.form-group h2 {
  margin-bottom: 20px;
}

.search-bar {
  margin: 100px auto;
}

.social-buttons {
  float: right;
}

.social-buttons > a {
  color: #424242;
  padding-left: 15px;
}

.social-buttons > a:hover {
  color: #939393;
}

.profile-content {
  margin-top: 60px;
}

.card-spacing {
  padding-bottom: 50px;
}

.landing-header {
  width: 100%;
  min-height: 550px;
  text-align: center;
  color: #424242;
  background-image: url(moodlyLanding.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}

.landing-header h1 {
  padding-top: 150px;
  font-size: 90px;
  color: #424242;
}

.landing-header h2 {
  font-size: 25px;
  color: #424242;
}

.landing-title {
  float: left;
  font-size: 25px;
}

.landing-buttons {
  float: right;
}

.landing-button {
  background-color: transparent;
  color: #424242;
  border: 4px solid #424242;
  padding: 5px 5px;
  margin-left: 10px;
  margin-top: 20px;
  width: 150px;
  border-radius: 25px;
  font-family: 'Sniglet', cursive;
  font-size: 17px;
}

.landing-button:active, 
.landing-button:hover {
  background-color: transparent;
  color: #939393;
  border: 4px solid #939393;
  -o-transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.primary-button {
  background-color: #bfefff;
  color: #424242;
  padding: 5px 5px;
  margin-left: 10px;
  width: 150px;
  border-radius: 25px;
  border: 4px solid #424242;
  font-family: 'Sniglet', cursive;
  font-size: 17px;
}

.primary-button:active, 
.primary-button:hover {
  background-color: #4f94cd;
  color: #424242;
  -o-transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  border: 4px solid #424242;
}

.landing-button:focus,
.landing-button:active,
.landing-button:active:focus,
.primary-button:focus,
.primary-button:active,
.primary-button:active:focus {
  outline: none;
  box-shadow: none;
}

.landing-content {
  padding-top: 50px;
}

.landing-content h2 {
  padding-bottom: 30px;
}

.about-col {
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
}

.about-content {
  background-color: #424242;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.about-content h3 {
  color: #4f94cd;
}

.about-content h2 {
  color: #bfefff;
}

@media (max-width: 568px) {
  .landing-button {
    width: 80px;
  }  
}

